@import "../custom";

#index-slider {

  .col-slider {
    margin: 0;
    padding: 0;
  }

  #carousel {
    width: 100%;
    height: 662px;

    @include media-breakpoint-down(lg) {
      height: 500px;
    }

    @include media-breakpoint-down(md) {
      height: 400px;
    }

    .carousel-inner {
      height: 662px;

      @include media-breakpoint-down(lg) {
        height: 500px;
      }

      @include media-breakpoint-down(md) {
        height: 400px;
      }

      .carousel-item {

        img  {
          height: 662px;
          object-fit: cover;
          width: 100%;
          filter: brightness(40%);

          @include media-breakpoint-down(lg) {
            height: 500px;
          }

          @include media-breakpoint-down(md) {
            height: 400px;
          }
        }

        .carousel-caption {
          text-align: left;
          width: 100%;
          left: 0;
          bottom: unset;
          top: 50%;
          transform: translateY(-50%);

          span {
            color: $sibgu-white !important;
            font-weight: bold;
            font-size: 4rem;
            text-align: left;

            @include media-breakpoint-down(lg) {
              font-size: 2rem;
            }

            @include media-breakpoint-down(md) {
              font-size: 1rem;
            }
          }
        }
      }

    }

    .carousel-indicators {
      button {
        width: 10px;
        height: 10px;
        border-radius: 100%;
      }
    }
  }
}

#index-news {
  margin-bottom: 50px;
  margin-top: 50px;

  img {
    height: 160px;
    width: 100%;
    object-fit: cover;
  }
  .card-img-wrapper {
    span {
      bottom: 0;
      background: $body-bg;
    }
  }
  .span-link {
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    color: $sibgu-gray;

    &.active {
      color: $sibgu-dark;
    }
  }
}

#index-events {
  margin-bottom: 50px;
  margin-top: 50px;

  .span-link {
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    color: $sibgu-gray;

    &.active {
      color: $sibgu-dark;
    }
  }

  .event {
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: relative;
      filter: brightness(40%);

      &::after {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
      }
    }

    .date {
      position: absolute;
      top: 0;
      left: 0;
      padding: 25px;
      padding-top: 15px;
      font-size: 16px;
      font-weight: 300;
       color: $light;
    }

    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 25px 25px 15px;
      font-size: 16px;
      line-height: 18px;
      color: $light;
    }

    &.big-event {

      img {
        height: 100%;
      }
      .title {
        padding: 30px;
        font-size: 28px;
        line-height: 32px;
      }
      .date {
        padding: 30px;
        font-size: 24px;
      }
    }

    @include media-breakpoint-down(lg) {
      .title {
        font-size: 18px !important;
        line-height: 20px !important;
        padding: 30px !important;
      }
      .date {
        padding: 30px !important;
        font-size: 24px !important;
      }
    }
  }
}
